/* Estilos generales */
body {
  background: linear-gradient(to bottom,
  #121212, #131214, #161722, #272330, #171727,
  #1d1a36, #1b183b, #11112b, #1b123a, #1b133d);
  font-family: "Georgia", serif;
  font-size: 16px;
  color: #ffffff;
}

/* Estilos para el encabezado */
header {
  text-align: center;
  padding: 70px 0;
}

header img {
  display: block;
  margin: 0 auto;
  border: 15px solid #000; /* Agrega un borde negro de 2 píxeles */
}

header p {
  text-align: center;
  font-size: 18px; /* Ajusta el tamaño de la fuente según tus preferencias */
  text-align: justify; /* Justifica el texto */
  margin-left: 20px; /* Añade espacio en el margen izquierdo */
  margin-right: 20px; /* Añade espacio en el margen derecho */
}

/* Estilos para los títulos */
h1 {
  color: #f5f5f5;
  text-align: center;
}

/* Estilos para los párrafos */
p {
  font-size: 18px;
  text-align: justify; /* Justifica el texto */
}

/* Estilos para las listas */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font-size: 16px;
  margin-bottom: 10px;
}

/* Estilos para los contenedores de las columnas */
.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Estilos para las columnas */
.column {
  flex-basis: calc(33.33% - 10px);
  margin-right: 10px;
  margin-bottom: 20px;
  text-align: justify; /* Justifica el texto */
  margin-left: 5px; /* Añade espacio en el margen izquierdo */
  margin-right: 5px; /* Añade espacio en el margen derecho */
  max-width: 550px; /* Alto deseado de la imagen */
  background-color: #000; /* Color de fondo negro */
  padding: 10px; /* Añade un relleno de 10px */
  box-sizing: border-box; /* Incluye el relleno en el ancho y alto */
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); /* Agrega una sombra 3D */
}

.column:last-child {
  margin-right: 0;
}

/* Estilos para las imágenes */
.image {
  display: block;
  width: 100%; /* Ancho deseado */
  height: auto; /* Alto automático */
  margin-bottom: 10px;
  margin-left: 0px; /* Añade espacio en el margen izquierdo */
  margin-right: 0px; /* Añade espacio en el margen derecho */
}

/* Estilos para el efecto de selección activa */
::selection {
  background-color: #ffa500; /* Cambia el color de fondo de la selección */
  color: #fff; /* Cambia el color del texto de la selección */
}

/* Estilos para el menú de navegación */
.topnav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333;
  overflow: hidden;
}

.left {
  float: left;
  padding: 14px 16px;
  color: #fff;
}

.right {
  float: right;
}

.right a {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #fff;
}

.right a:hover {
  background-color: #ddd;
  color: #333;
}

/* Estilos para el botón de imagen */
.button-image {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

/* Estilos para el pie de página */
footer {
  background-color: #000; /* Agrega un fondo negro */
  color: #fff;
  padding: 20px;
  text-align: left;
}

/* Estilos para el texto del pie de página */
.p2 {
  text-align: center;
  margin-left: 100px;
  margin-right: auto;
}

/* Estilos para el menú de navegación */
.menu {
  margin-top: 30px;
  background-color: #3498db; /* Fondo del menú de navegación */
  padding: 10px; /* Espacio alrededor del menú */
  /* Otros estilos específicos del menú */
}

/* Estilos para pantallas de dispositivos móviles */
@media only screen and (max-width: 480px) {
  /* Estilos para el encabezado */
  header {
    text-align: center;
  }

  /* Estilos para la imagen del encabezado */
  header img {
    width: 100%;
    height: auto;
  }

  /* Estilos para la barra de navegación */
  .topnav {
    display: block;
    text-align: center;
  }

  /* Estilos para los botones de la barra de navegación */
  .right a {
    display: block;
    margin: 10px auto;
  }

  /* Estilos para los contenedores de las columnas */
  .container {
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* Estilos para las columnas */
  .column {
    flex-basis: calc(100% - 20px);
    margin: 10px;
    max-width: 550px;
    background-color: #000;
    padding: 10px;
    box-sizing: border-box;
  }

  /* Estilos para las imágenes */
  .image {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
}

/* Estilos para pantallas de dispositivos de escritorio */
@media only screen and (min-width: 481px) {
  /* Estilos para el encabezado */
  header {
    text-align: center;
  }

  /* Estilos para la imagen del encabezado */
  header img {
    width: 100%;
    height: auto;
  }

  /* Estilos para la barra de navegación */
  .topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  /* Estilos para los botones de la barra de navegación */
  .right a {
    display: inline-block;
    margin-left: 10px;
  }

  /* Estilos para los contenedores de las columnas */
  .container {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* Estilos para las columnas */
  .column {
    flex-basis: calc(50% - 20px);
    margin: 10px;
    max-width: 550px;
    background-color: #000;
    padding: 10px;
    box-sizing: border-box;
  }

  /* Estilos para las imágenes */
  .image {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
}
::selection {
  background-color: #ffa500; /* Cambia el color de fondo de la selección */
  color: #fff; /* Cambia el color del texto de la selección */
}
