/* Estilos base */
body {
  background: linear-gradient(to bottom,
  #121212, #131214, #161722, #272330, #171727,
  #1d1a36, #1b183b, #11112b, #1b123a, #1b133d);
  font-family: "Georgia", serif;
  font-size: 16px;
  color: #ffffff;
}

/* Estilos para encabezado */
header {
  text-align: center;
  padding: 5vw 0;
}

header img {
  display: block;
  margin: 0 auto;
  border: 2vw solid #000;
  max-width: 100%;
}

header p {
  text-align: center;
  font-size: 1.5vw;
  text-align: justify;
  margin-left: 5vw;
  margin-right: 5vw;
}

h1 {
  color: #f5f5f5;
  text-align: center;
}

/* Estilos para párrafos */
p {
  font-size: 1.5vw;
  text-align: justify;
}

/* Media queries para pantallas pequeñas */
@media screen and (max-width: 767px) {
  header {
    padding: 10vw 0;
  }
  
  header p {
    font-size: 3vw;
  }
}

/* Media queries para pantallas medianas */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  header {
    padding: 7vw 0;
  }
  
  header p {
    font-size: 2vw;
  }
}

/* Media queries para pantallas grandes */
@media screen and (min-width: 1024px) {
  header {
    padding: 5vw 0;
  }
  
  header p {
    font-size: 1.5vw;
  }
}
/* Estilos base */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font-size: 1.5vw;
  margin-bottom: 1vw;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column {
  flex-basis: calc(33.33% - 1vw);
  margin-right: 1vw;
  margin-bottom: 2vw;
  text-align: justify;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  max-width: 80vw;
  background-color: #000;
  padding: 1vw;
  box-sizing: border-box;
}

.column:last-child {
  margin-right: 0;
}

.image {
  display: block;
  width: 80vw;
  height: auto;
  margin-bottom: 1vw;
  margin-left: 0;
  margin-right: 0;
}

.column:hover {
  background-color: #333;
  cursor: pointer;
}

.topnav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333;
  overflow: hidden;
}

.left {
  float: left;
  padding: 2vw;
  color: #fff;
}

.right {
  float: right;
}

.right a {
  display: inline-block;
  text-align: center;
  padding: 2vw;
  text-decoration: none;
  color: #fff;
}

.right a:hover {
  background-color: #ddd;
  color: #333;
}

/* Media queries para pantallas pequeñas */
@media screen and (max-width: 767px) {
  li {
    font-size: 3vw;
    margin-bottom: 2vw;
  }
  
  .column {
    flex-basis: calc(50% - 1vw);
    margin-right: 1vw;
    margin-bottom: 2vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
  }
  
  .image {
    width: 90vw;
    height: auto;
    margin-bottom: 2vw;
  }
}

/* Media queries para pantallas medianas */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  li {
    font-size: 2vw;
    margin-bottom: 1vw;
  }
  
  .column {
    flex-basis: calc(33.33% - 1vw);
    margin-right: 1vw;
    margin-bottom: 2vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
  }
  
  .image {
    width: 80vw;
    height: auto;
    margin-bottom: 1vw;
  }
}

/* Media queries para pantallas grandes */
@media screen and (min-width: 1024px) {
  li {
    font-size: 1.5vw;
    margin-bottom: 1vw;
  }
  
  .column {
    flex-basis: calc(25% - 1vw);
    margin-right: 1vw;
    margin-bottom: 2vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
  }
  
  .image {
    width: 60vw;
    height: auto;
    margin-bottom: 1vw;
  }
}
/* Estilos base */
.button-image {
  display: block;
  width: 3vw;
  height: 3vw;
  margin: 0 auto;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 2vw;
  text-align: left;
}

.p2 {
  text-align: center;
  margin-left: 10vw;
  margin-right: auto;
}

.menu {
  margin-top: 3vw;
  background-color: #3498db;
  padding: 1vw;
}

/* Media queries para pantallas pequeñas */
@media screen and (max-width: 767px) {
  .button-image {
    width: 10vw;
    height: 10vw;
  }
  
  footer {
    padding: 5vw;
  }
  
  .p2 {
    margin-left: 0;
  }
  
  .menu {
    margin-top: 5vw;
    padding: 2vw;
  }
}

/* Media queries para pantallas medianas */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .button-image {
    width: 5vw;
    height: 5vw;
  }
  
  footer {
    padding: 3vw;
  }
  
  .p2 {
    margin-left: 5vw;
  }
  
  .menu {
    margin-top: 3vw;
    padding: 1vw;
  }
}

/* Media queries para pantallas grandes */
@media screen and (min-width: 1024px) {
  .button-image {
    width: 3vw;
    height: 3vw;
  }
  
  footer {
    padding: 2vw;
  }
  
  .p2 {
    margin-left: 10vw;
  }
  
  .menu {
    margin-top: 3vw;
    padding: 1vw;
  }
}
